## PROJECT GOAL- SETTING UP A POSTGRESQL DB LOCALLY ON DOCKER AND USING AVAILABLE TAXI DATA TO LOAD TO THE DB

## Requirements
1. Set up your docker enviromment locally make sure the postgresql image is running, alternatively you can use availalbe database if you dont have docker.
2. Obtain the data set from Kaggle (I used the 2021 Yello Taxi data)
3. DUe to the compute resources required for the data, make sure your PC can comfortably handle the whole data set or you can specify the number of rows.

## Import the pandas library

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.1.4

In [4]:
df = pd.read_csv("/home/waswa/Downloads/ny_taxi_yellow_january.csv", nrows = 100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [23]:
# convert the two date columns to the datetime data type

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_tax")

In [10]:
engine.connect()

In [24]:
# Create the SQL schema using the get_schema function from pandas

In [12]:
print(pd.io.sql.get_schema(df, name= "yellow_taxi_data",con =engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [25]:
# Due to the big size ofthe data, use a chunksize of 100k per upload to the db

In [13]:
df_iter= pd.read_csv("/home/waswa/Downloads/ny_taxi_yellow_january.csv", iterator = True, chunksize= 100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = "replace")

0

In [26]:
# Check the duration it takes to upload a chunksize of 100k to the db

In [20]:
%time df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")

CPU times: user 13 s, sys: 3.26 s, total: 16.3 s
Wall time: 3min 13s

1000

In [27]:
# Write a function that will upload the rest of the dataset assuming your machine has enough memory and speed

In [22]:
import time

In [ ]:
while true:
    t_start time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")

    t_end = time()

    print("inserted another chunk..., took %3f second" % (t_end-t_start)

## POSTGRESQL SETUP IN DOCKER

Here is how you can set up postgresql database on docker
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always


docker run -it \
   -e POSTGRES_USER="input your name" \
   -e POSTGRES_PASSWORD="input your password" \
   -e POSTGRES_DB="name of the db" \
   -v ny_taxi_postgres_data:/var/lib/postgresql/data \
   -p 5432:5432

    postgres:13 \